<ion-view title="Carousel of Projects">
    <ion-content>
        <div style="xpadding:10px 10px 10px 10px;"></div>
        <ul rn-carousel class="image">
            <li><img src="img/projects/7-EMSPEED12.png" alt="" /></li>
            <li><img src="img/projects/6-EMSPEED-POC.jpg" alt="" /></li>
            <li><img src="img/projects/5-EMSPEED10.jpg" alt="" /></li>
            <li><img src="img/projects/4-NalcoEquip.jpg" alt="" /></li>
            <li><img src="img/projects/3-scheduler.jpg" alt="" /></li>
            <li><img src="img/projects/2-atlas.jpg" alt="" /></li>
            <li><img src="img/projects/1-EMSIX.png" alt="" /></li>
        </ul>
    </ion-content>
</ion-view>