<ion-view title="Contact">
    <ion-content class="has-header" padding="true" style="background-color: #efefef;">
        <div class="card">
            <div class="item item-text-wrap">
                <ul>
                    <li>Marc Gusmano</li>
                    <li>9822 Meredith Elise Ct.</li>
                    <li>Houston, TX 77025</li>
                    <li>mgusmano@yahoo.com</li>
                    <li>(847)331-2020</li>
                </ul>
            </div>
        </div>
    </ion-content>
</ion-view>