<ion-view title="Marc Gusmano">
    <ion-content class="has-header" padding="true" style="background-color: #efefef;">
        <div class="card">
            <div class="item item-text-wrap">
                <h2>HTML5 Mobile Resume</h2>
            </div>
            <div class="item item-text-wrap">
                <p>
                    This is a sample application built to demonstrate the creation of a hybrid mobile application with HTML5.
                </p>

                <p>
                    It is built with the Ionic Framework (ionicframework.com), which utilizes Angular.js and Cordova.
                </p>

                <a class="button button-clear" ng-click="toggleLeft()">Click Here to See the Menu</a>

                <p>And yes... this is is my ACTUAL resume!</p>
            </div>
            <div class="item item-text-wrap">
                <!--<a href="http://ionicframework.com"><img src="img/ionic.png" alt="" /></a>-->
                <img src="img/ionic.png" alt="" />
                <img src="img/AngularJS-large.png" height="60" alt="Angular.js" />
                <img src="img/cordova.png" alt="Apache Cordova" />
            </div>
        </div>
    </ion-content>
</ion-view>