<ion-view title="Projects">
    <ion-content class="has-header" padding="true" style="background-color: #efefef;">
        <!--<div ng-repeat="project in projects" class="card">
            <div class="item item-text-wrap">
                <p>{{project.name}}</p>
                <a href="#/project/{{project.id}}" style="position: absolute; right: 0px; top: 0px; color: #8D8D8D; width: 100%; height: 100%; text-align: right; padding-right: 12px; padding-top: 18px;"><i class="icon ion-chevron-right"></i></a>
            </div>
        </div>-->

        <ion-list>
            <ion-item class="item item-text-wrap" ng-repeat="project in projects" item-type="item-icon-left" href="#/project/{{project.id}}">
                {{project.name}}<br />
                ({{project.dates}})
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>