<ion-view title="Project Details">

    <ion-nav-buttons side="right">
        <button class="button button-primary button-clear " ng-click="showSource()">more...</button>
    </ion-nav-buttons>

    <ion-content class="has-header" padding="false">
        <div class="card">
            <div class="item item-text-wrap">
                <h2>{{project.name}}</h2>
                <p>{{project.role}}</p>
                <p>{{project.dates}}</p>
                <div class="item item-body">
                    <p style="margin-top: 1px;">{{project.description}}</p>
                    <img ng-click="open()" class="full-image" ng-src="img/projects/{{project.image}}">
                </div>
            </div>
    </ion-content>
</ion-view>
