<ion-view title="Slidebox of Projects">
    <ion-content class="has-header" padding="true" style="background-color: #efefef;">

        <!--<div ng-repeat="project in projects">
            <h1>{{project.name}}</h1>
            <img src="img/projects/7-EMSPEED12.png" alt="" />
        </div>-->


        <ion-slide-box slide-interval="3000" does-continue="true" class="top_slide_box" show-pager="true">

            <ion-slide ng-repeat="project in projects">
                <p>{{project.name}}</p>
                <img style="max-width:90%;max-height:90%;" src="img/projects/{{project.image}}" alt="" />
            </ion-slide>

        </ion-slide-box>
            <!--<ion-slide>
            <div style="padding:10px 10px 10px 10px;">
                <h3 style="height:40px;">Title</h3>
                <img style="max-width:90%;max-height:90%;" src="img/projects/6-EMSPEED-POC.jpg" alt="" />
            </div>
        </ion-slide>
        <ion-slide>
            <div style="padding:10px 10px 10px 10px;">
                <h3 style="height:40px;">Title</h3>
                <img style="max-width:90%;max-height:90%;" src="img/projects/7-EMSPEED12.png" alt="" />
            </div>
        </ion-slide>
        <ion-slide>
            <div style="padding:10px 10px 10px 10px;">
                <h3 style="height:40px;">Title</h3>
                <img style="max-width:90%;max-height:90%;" src="img/projects/5-EMSPEED10.jpg" alt="" />
            </div>
        </ion-slide>
        <ion-slide>
            <div style="padding:10px 10px 10px 10px;">
                <h3 style="height:40px;">Title</h3>
                <img style="max-width:90%;max-height:90%;" src="img/projects/4-NalcoEquip.jpg" alt="" />
            </div>
        </ion-slide>
        <ion-slide>
            <div style="padding:10px 10px 10px 10px;">
                <h3 style="height:40px;">Title</h3>
                <img style="max-width:90%;max-height:90%;" src="img/projects/3-scheduler.jpg" alt="" />
            </div>
        </ion-slide>
        <ion-slide>
            <div style="padding:10px 10px 10px 10px;">
                <h3 style="height:40px;">Title</h3>
                <img style="max-width:90%;max-height:90%;" src="img/projects/2-atlas.jpg" alt="" />
            </div>
        </ion-slide>
        <ion-slide>
            <div style="padding:10px 10px 10px 10px;">
                <h3 style="height:40px;">Title</h3>
                <img style="max-width:90%;max-height:90%;" src="img/projects/1-EMSIX.png" alt="" />
            </div>
        </ion-slide>-->

    </ion-content>
</ion-view>


<!--<ion-slide-box show-pager="true">
    <ion-slide ng-repeat="project in projects">
        <h3>{{project.name}}</h3>
    </ion-slide>
</ion-slide-box>-->
<!--
<ion-slide>
    <div style="padding:10px 10px 10px 10px;">
        <h3 style="height:40px;">Title</h3>
        <img style="max-width:90%;max-height:90%;" src="img/projects/6-EMSPEED-POC.jpg" alt="" />
        <div style="height:40px"></div>
    </div>
</ion-slide>
<ion-slide>
    <div style="padding:10px 10px 10px 10px;">
        <h3 style="height:40px;">Title</h3>
        <img style="max-width:90%;max-height:90%;" src="img/projects/7-EMSPEED12.png" alt="" />
        <div style="height:40px"></div>
    </div>
</ion-slide>
<ion-slide>
    <div style="padding:10px 10px 10px 10px;">
        <h3 style="height:40px;">Title</h3>
        <img style="max-width:90%;max-height:90%;" src="img/projects/5-EMSPEED10.jpg" alt="" />
        <div style="height:40px"></div>
    </div>
</ion-slide>
<ion-slide>
    <div style="padding:10px 10px 10px 10px;">
        <h3 style="height:40px;">Title</h3>
        <img style="max-width:90%;max-height:90%;" src="img/projects/4-NalcoEquip.jpg" alt="" />
        <div style="height:40px"></div>
    </div>
</ion-slide>
<ion-slide>
    <div style="padding:10px 10px 10px 10px;">
        <h3 style="height:40px;">Title</h3>
        <img style="max-width:90%;max-height:90%;" src="img/projects/3-scheduler.jpg" alt="" />
        <div style="height:40px"></div>
    </div>
</ion-slide>
<ion-slide>
    <div style="padding:10px 10px 10px 10px;">
        <h3 style="height:40px;">Title</h3>
        <img style="max-width:90%;max-height:90%;" src="img/projects/2-atlas.jpg" alt="" />
        <div style="height:40px"></div>
    </div>
</ion-slide>
<ion-slide>
    <div style="padding:10px 10px 10px 10px;">
        <h3 style="height:40px;">Title</h3>
        <img style="max-width:90%;max-height:90%;" src="img/projects/1-EMSIX.png" alt="" />
        <div style="height:40px"></div>
    </div>
</ion-slide>
-->
