<ion-view title="Marc Gusmano">
    <ion-nav-buttons side="right">
        <a ui-sref="main.home" class="button icon ion-home"></a>
    </ion-nav-buttons>
    <ion-content class="has-header" padding="true" style="background-color: #efefef;">

        <div class="card">
            <div class="item item-text-wrap">

                <h2>Senior HTML5 and Microsoft Architect</h2>
                <div style="font-style:italic;color:#146BA8;">30 years of experience in the software services industry.</div>

                <a style="margin-top:15px;" class="button xbutton-clear" ng-click="open()">http://gusmano.azurewebsites.net</a>

                <p style="margin-top:15px;">
                    Extensively involved with custom HTML5 browser and mobile development projects, typically combining knowledge of the underlying
                    Microsoft architecture with experience building HTML5 Single Page Applications; working on the requirements,
                    design and development and implementation of custom solutions.
                    </pstyle>
                    <div style="font-style:italic;color:#146BA8;margin-top:20px;">
                        "I have a passion for building outstanding software, especially leading edge, user-centric applications.
                        I love to delight my clients, and have a track record of doing exactly that.
                        I enjoy working for an innovative, driven company who understands the balance of working hard and enjoying life..."
                    </div>

            </div>
        </div>

    </ion-content>
</ion-view>
